body {
  background-color: #E7ECEE;
  color: #210808;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App {
  width: 90%;
  margin: 0 auto;
}

h3 {
  font-size: 25px;
}

.btn {
  background-color: #8E8FA4;
  color: #210808;
  font-size: 13px;
  border-radius: 5%;
}

#filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: stretch;
  font-size: 15px;
}

.filter-component {
  max-width: 350px;
  min-width: 300px;;
  max-height: 400px;
  overflow: scroll;
  border: 0.5px solid rgba(164, 209, 159, 0.7);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  display: inline-block;
  padding: 10px;
  margin: 1%;
  border-radius: 3px;
}

.filter-component ul {
  list-style: none;
  padding-left: 5px;
}

.filter-component h3 {
  display: inline-block;
}

.add-button {
  float: right;
  margin-right: 1%;
}

.headerContainer {
  background-color: #05404C;
  color: #E7ECEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 25px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#highlights {
  max-width: 650px;
  margin: 20px auto;
}

#highlights h3 {
  display: inline-block;
}

#highlights ul {
  list-style: none;
}

#highlights li {
  list-style: none;
  margin-bottom: 20px;
  flex-grow: 1;
}

#highlights li:after {
  content: " ";
  display: block;
  margin-top: 15px;
  border-bottom: 1px solid #05404c3a;
}

.highlight-item {
  display: flex;
}

pre {
  display: inline;
  white-space: pre-wrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.filter-item {
  display: flex;
  flex-direction: row;

}

.filter-text {
  display: inline-block;
  flex-grow: 100;
}

.small-button {
  font-size: 9px;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 1px 2px;
  flex-grow: 0;
  flex-shrink: 0;
}

.del-button {
  margin-right: 7px;
}

.filter-component li:hover {
  cursor: pointer;
  background-color: #A4D19F;
}

.indented {
  padding-left: 50px;
}

.clear-div {
  text-align: center;
}

.logo {
  width: 100px;
  object-fit: cover;
}

/* ---------------- form general ----------------- */

.form-label {
  justify-self: end;
  font-weight: bold;
  margin: 0;
  align-self: center;
}

/* --------------- Highlights form styling ------------------- */
.h-form {
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr;
  grid-template-rows: 3fr 0.7fr auto 0.7fr;
  grid-template-areas: 
  "h-label high high high"
  "t-label t-select message message"
  "... t-add t-display-container t-display-container"
  "b-label b-select ... ..."
  "... ... ... save";
  gap: 2px;
}
.h-label {
  grid-area: h-label;
  align-self: start;
}
.h-input {
  grid-area: high;
}
.t-label {
  grid-area: t-label;
  margin: 0px;
  align-self: center;
}
.t-select {
  grid-area: t-select;
  align-self: center;
}
.t-add {
  grid-area: t-add;
  align-self: start;
  justify-self: end;
}
.t-display-container {
  display: flex;
  flex-direction: column;
  grid-area: t-display-container;
  padding-left: 20px;
}
.b-label {
  grid-area: b-label;
  align-self: center;
  margin: 0px;
}
.b-select {
  grid-area: b-select;
  align-self: start;
  align-self: center;
}
.h-save {
  grid-area: save;
  justify-self: end;
  align-self: start;
}
.t-message {
  margin: 0;
  color:rgba(81, 81, 90, 1);
  grid-area: message;
  /* justify-self: start; */
}

/* ------------------Author Form ------------- */
.simple-form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "s-label s-input"
  "....... s-save";
  gap: 2px;
}
.s-label {
  grid-area: s-label;
  align-self: center;
  margin: 0;
}
.s-input {
  grid-area: s-input;
  align-self: center;
}
.s-save {
  grid-area: s-save;
  justify-self: end;
  align-self: start;
}

/* --------------- Book form styling ------------------- */
.b-form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: 
  "title-label title-input"
  "summary-label summary-input"
  "published-label published-input"
  "read-label read-input"
  "author-label author-select" 
  ". b-save";
  gap: 2px;
}
.title-label {
  grid-area: title-label;
}
.title-input {
  grid-area: title-input;
}
.summary-label {
  grid-area: summary-label;
  align-self: start;
}
.summary-input {
  grid-area: summary-input;
}
.published-label {
  grid-area: published-label;
}
.published-input {
  grid-area: published-input;
}
.read-label {
  grid-area: read-label;
}
.read-input {
  grid-area: read-input;
}
.author-label {
  grid-area: author-label;
  align-self: center;
  margin: 0px;
}
.author-select {
  grid-area: author-select;
  align-self: start;
  align-self: center;
}
.b-save {
  grid-area: b-save;
  justify-self: end;
  align-self: start;
}