body {
  background-color: #E7ECEE;
  color: #210808;
  padding: 0px;
}

.App {
  width: 90%;
  margin: 0 auto;
}


.btn, button{
  background-color: #8E8FA4;
  color: #210808;
}

#filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: stretch;
}

.filter-component {
  max-width: 350px;
  min-width: 300px;;
  max-height: 400px;
  overflow: scroll;
  border: 0.5px solid rgba(164, 209, 159, 0.7);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  display: inline-block;
  padding: 10px;
  margin: 1%;
}

.filter-component ul {
  list-style: none;
  padding-left: 5px;
}

.filter-component h3 {
  display: inline-block;
}

.add-button {
  float: right;
  margin-right: 10%;
}

.headerContainer {
  background-color: #05404C;
  color: #E7ECEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#highlights {
  max-width: 650px;
  margin: 20px auto;
}

#highlights h3 {
  display: inline-block;
}

#highlights ul {
  list-style: none;
}

#highlights li {
  list-style: none;
  margin-bottom: 20px;
}


.delete-button {
  font-size: 10px;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-right: 7px;
}

.filter-component li:hover {
  cursor: pointer;
  background-color: #A4D19F;
}

.htags {
  padding-left: 50px;
}